:root {
  --color-dark-desaturated-blue: hsl(238, 29%, 16%);
  --color-soft-red: hsl(14, 88%, 65%);
  --color-soft-violet: hsl(273, 75%, 66%);
  --color-soft-blue: hsl(240, 73%, 65%);
  --color-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --color-dark-grayish-blue: hsl(240, 6%, 50%);
  --color-Light-grayish-blue: hsl(240, 5%, 91%); }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-dark-grayish-blue);
  background-image: linear-gradient(to top, var(--color-soft-blue), var(--color-soft-violet));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

figure {
  z-index: 2;
  position: absolute;
  transform: translate(-483px, 48px); }
  figure img {
    transition: transform 0.5s ease-out; }
    figure img.active {
      transform: translate(0, -20px); }

.container {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 500px;
  box-shadow: 0px 35px 100px -50px black; }

.img {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  height: 100%;
  background: url("../images/bg-pattern-desktop.svg");
  background-position: -545px 65%;
  background-size: 200%;
  background-repeat: no-repeat; }
  .img__desktop {
    transform: translateX(-16%); }

.accordion {
  margin: 10px 50px;
  width: 400px; }
  .accordion h1 {
    color: #1d1e35;
    padding: 10px 0px 20px 0px;
    font-size: 2em; }
  .accordion__panel {
    padding: 5px 0px; }
  .accordion__header {
    color: #4a4b5e;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 10px 0px;
    cursor: pointer;
    user-select: none;
    transition: color 0.5s ease-out; }
    .accordion__header--icon {
      transition: transform 0.5s ease-out; }
    .accordion__header:hover {
      color: #f47c57; }
    .accordion__header.active {
      font-weight: 700; }
      .accordion__header.active .accordion__header--icon {
        transform: rotate(180deg); }
  .accordion__body {
    color: #4a4b5e;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out; }

hr {
  border: 0.5px solid #e7e7e9;
  background-color: #e7e7e9;
  margin: 7px 0px; }

@media (max-width: 1080px) {
  .container {
    flex-direction: column;
    margin: 10vw; }
  .img {
    width: 100%;
    height: 230px;
    justify-content: center;
    overflow: visible;
    background: url("../images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-size: 233px 100px;
    background-position-x: 54%;
    background-position-y: 96px;
    transform: translateY(-113px); }
  .accordion {
    width: 90%;
    transform: translateY(-110px); }
    .accordion__body {
      color: #4a4b5e;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out; }
  h1 {
    text-align: center; }
  .img__desktop {
    display: none; }
  .img__mobile {
    display: unset; } }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }
