:root {
  --color-dark-desaturated-blue: hsl(238, 29%, 16%);
  --color-soft-red: hsl(14, 88%, 65%);
  --color-soft-violet: hsl(273, 75%, 66%);
  --color-soft-blue: hsl(240, 73%, 65%);
  --color-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --color-dark-grayish-blue: hsl(240, 6%, 50%);
  --color-Light-grayish-blue: hsl(240, 5%, 91%); }

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  color: var(--color-dark-grayish-blue);
  background-image: linear-gradient(to top, var(--color-soft-blue), var(--color-soft-violet));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 3rem; }

.container {
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0px 3.5rem 10rem -5rem #000;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90rem;
  margin: 6rem auto; }
  @media (max-width: 900px) {
    .container {
      flex-direction: column; } }

/* ----------- IMAGES ----------- */
.img {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  height: 100%;
  position: relative;
  background: url("../images/bg-pattern-desktop.svg");
  background-position: -54.5rem 65%;
  background-size: 200%;
  background-repeat: no-repeat; }
  @media (max-width: 900px) {
    .img {
      width: 100%;
      height: 23rem;
      justify-content: center;
      overflow: visible;
      background: url("../images/bg-pattern-mobile.svg");
      background-repeat: no-repeat;
      background-size: 23rem 10rem;
      background-position-x: 51%;
      background-position-y: 12.6rem;
      transform: translateY(-11.3rem); } }
  .img__desktop {
    transform: translateX(-16%); }

.desktop,
.img__desktop {
  display: unset; }
  @media (max-width: 900px) {
    .desktop,
    .img__desktop {
      display: none; } }

.img__mobile {
  display: none; }
  @media (max-width: 900px) {
    .img__mobile {
      display: unset;
      position: absolute;
      left: calc(50% - 145px);
      top: 10%; } }

.desktop {
  z-index: 2;
  top: 34%;
  left: 43%;
  position: absolute;
  transform: translate(-44rem, 3.6rem); }
  .desktop img {
    transition: transform 0.5s ease-out; }
    .desktop img.active {
      transform: translate(-4rem, 0); }

/* ----------- ACCORDION ----------- */
.accordion {
  margin: 1rem 5rem;
  width: 40rem;
  font-size: 1.4rem; }
  @media (max-width: 900px) {
    .accordion {
      width: 90%;
      transform: translateY(-11rem); } }
  .accordion h1 {
    color: var(--color-dark-desaturated-blue);
    padding: 1rem 0 2rem 0;
    font-size: 2em; }
    @media (max-width: 900px) {
      .accordion h1 {
        text-align: center; } }
  .accordion__panel {
    padding: 0.5rem 0; }
  .accordion__header {
    color: var(--color-very-dark-grayish-blue);
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 1rem 0;
    cursor: pointer;
    user-select: none;
    transition: color 0.5s ease-out; }
    .accordion__header--icon {
      transition: transform 0.5s ease-out; }
    .accordion__header:hover {
      color: var(--color-soft-red); }
    .accordion__header.active {
      font-weight: 700; }
      .accordion__header.active .accordion__header--icon {
        transform: rotate(180deg); }
  .accordion__body {
    color: var(--color-very-dark-grayish-blue);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out; }

hr {
  border: 0.5px solid var(--color-Light-grayish-blue);
  background-color: var(--color-Light-grayish-blue);
  margin: 0.7rem 0; }

/* ----------- ATTRIBUTION ----------- */
.attribution {
  padding-top: 3rem;
  font-size: 1.1rem;
  text-align: center; }
  @media (max-width: 900px) {
    .attribution {
      padding: 1rem 0; } }

.attribution a {
  color: #fff; }
