:root {
  $color-dark-desaturated-blue: hsl(238, 29%, 16%);
  $color-soft-red: hsl(14, 88%, 65%);
  $color-soft-violet: hsl(273, 75%, 66%);
  $color-soft-blue: hsl(240, 73%, 65%);

  $color-very-dark-grayish-blue: hsl(237, 12%, 33%);
  $color-dark-grayish-blue: hsl(240, 6%, 50%);

  $color-Light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-dark-grayish-blue;
  background-image: linear-gradient(
    to top,
    $color-soft-blue,
    $color-soft-violet
  );
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}
