///////////////////////
.desktop,
.img__desktop {
  display: unset;
}

.img__mobile {
  display: none;
}

.desktop {
  z-index: 2;
  position: absolute;
  transform: translate(-48rem, 4.8rem);

  img {
    transition: transform 0.5s ease-out;

    &.active {
      transform: translate(-4rem, 0);
    }
  }
}

/////////////////////////
.img {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  height: 100%;

  background: url("../images/bg-pattern-desktop.svg");
  background-position: -54.5rem 65%;
  background-size: 200%;
  background-repeat: no-repeat;

  &__desktop {
    transform: translateX(-16%);
  }
}

/////////////////////////
.accordion {
  margin: 1rem 5rem;
  width: 40rem;
  font-size: 1.4rem;

  h1 {
    color: var(--color-dark-desaturated-blue);
    padding: 1rem 0 2rem 0;
    font-size: 2em;
  }

  &__panel {
    padding: 0.5rem 0;
  }

  &__header {
    color: var(--color-very-dark-grayish-blue);
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 1rem 0;

    cursor: pointer;
    user-select: none;

    transition: color 0.5s ease-out;

    &--icon {
      transition: transform 0.5s ease-out;
    }

    &:hover {
      color: var(--color-soft-red);
    }

    &.active {
      font-weight: 700;

      .accordion__header--icon {
        transform: rotate(180deg);
      }
    }
  }

  &__body {
    color: var(--color-very-dark-grayish-blue);
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.5s ease-out;
  }
}
//////////
hr {
  border: 0.5px solid var(--color-Light-grayish-blue);
  background-color: var(--color-Light-grayish-blue);
  margin: 0.7rem 0;
}

/////////////////////////
.attribution {
  padding-top: 3rem;
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: #fff;
}
