/* ----------- IMAGES ----------- */
.img {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  height: 100%;
  position: relative;

  background: url("../images/bg-pattern-desktop.svg");
  background-position: -54.5rem 65%;
  background-size: 200%;
  background-repeat: no-repeat;

  @media (max-width: 900px) {
    width: 100%;
    height: 23rem;

    justify-content: center;
    overflow: visible;

    background: url("../images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-size: 23rem 10rem;
    background-position-x: 51%;
    background-position-y: 12.6rem;

    transform: translateY(-11.3rem);
  }

  &__desktop {
    transform: translateX(-16%);
  }
}

.desktop,
.img__desktop {
  display: unset;

  @media (max-width: 900px) {
    display: none;
  }
}

.img__mobile {
  display: none;

  @media (max-width: 900px) {
    display: unset;
    position: absolute;
    left: calc(50% - 145px);
    top: 10%;
  }
}

.desktop {
  z-index: 2;
  top: 34%;
  left: 43%;
  position: absolute;
  transform: translate(-44rem, 3.6rem);

  img {
    transition: transform 0.5s ease-out;

    &.active {
      transform: translate(-4rem, 0);
    }
  }
}

/* ----------- ACCORDION ----------- */
.accordion {
  margin: 1rem 5rem;
  width: 40rem;
  font-size: 1.4rem;

  @media (max-width: 900px) {
    // margin-top: 25rem;
    width: 90%;
    transform: translateY(-11rem);
  }

  h1 {
    color: var(--color-dark-desaturated-blue);
    padding: 1rem 0 2rem 0;
    font-size: 2em;

    @media (max-width: 900px) {
      text-align: center;
    }
  }

  &__panel {
    padding: 0.5rem 0;
  }

  &__header {
    color: var(--color-very-dark-grayish-blue);
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 1rem 0;

    cursor: pointer;
    user-select: none;

    transition: color 0.5s ease-out;

    &--icon {
      transition: transform 0.5s ease-out;
    }

    &:hover {
      color: var(--color-soft-red);
    }

    &.active {
      font-weight: 700;

      .accordion__header--icon {
        transform: rotate(180deg);
      }
    }
  }

  &__body {
    color: var(--color-very-dark-grayish-blue);
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.5s ease-out;
  }
}

////// LINE
hr {
  border: 0.5px solid var(--color-Light-grayish-blue);
  background-color: var(--color-Light-grayish-blue);
  margin: 0.7rem 0;
}

/* ----------- ATTRIBUTION ----------- */
.attribution {
  padding-top: 3rem;
  font-size: 1.1rem;
  text-align: center;

  @media (max-width: 900px) {
    padding: 1rem 0;
  }
}
.attribution a {
  color: #fff;
}
